<a href="https://colab.research.google.com/github/caffeinated-beverage/NikkiSingh_DTSC3020_Fall2025/blob/main/assignment02_ns1239.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
# Create a list with 3 fruits
fruitlist = ["mango","peach","strawberry"]

# Print the entire list
print(fruitlist)

# Print each item seperately
print(fruitlist[0])
print(fruitlist[1])
print(fruitlist[2])

['mango', 'peach', 'strawberry']
mango
peach
strawberry

In [31]:
# Create a list with 4 names
namelist = ["Nikki","Dax","Ryan","Ben"]

# Change the first name to a different one
namelist[0] = "Patrick"

# Print the new list
print(namelist)

['Patrick', 'Dax', 'Ryan', 'Ben']

In [32]:
# Create a list with 5 vehicles
vehiclelist = ["motorcycle","car","boat","scooter","bus"]

# Add one more vehicle to the end of the list
vehiclelist.append("plane")

# Print the list
print(vehiclelist)

['motorcycle', 'car', 'boat', 'scooter', 'bus', 'plane']

In [33]:
# Create a list with 6 foods
foodlist = ["rice","pizza","burger","salad","pasta","breadstick"]

# Remove one food from the list
foodlist.remove("salad")

# Print the new list
print(foodlist)

['rice', 'pizza', 'burger', 'pasta', 'breadstick']

In [34]:
# Create a list with 4 cities
citylist = ["Tokyo","New York","Fort Worth","Las Vegas"]

# Sort the list in alphabetical order
citylist.sort()
print(citylist)

# Reverse the list
citylist.reverse()
print(citylist)

['Fort Worth', 'Las Vegas', 'New York', 'Tokyo']
['Tokyo', 'New York', 'Las Vegas', 'Fort Worth']

In [35]:
# Create a list with 3 animals
dinosaur_list = ["Sauroposeidon","Opisthocoelicaudia","Micropachycephalosaurus"]

# Use a for loop to print each animal
for dinosaur in dinosaur_list:
  print(dinosaur)

Sauroposeidon
Opisthocoelicaudia
Micropachycephalosaurus

In [36]:
# Create a list with numbers from 1 to 5
numberlist = [1, 2, 3, 4, 5]

# Use a for loop to print each number multiplied by 2
for num in numberlist:
  print(num * 2)

2
4
6
8
10

In [37]:
# Create a list with 6 friends
friendlist = ["Patrick","Atlas","Temmie","Ryan","Ben","Dax"]

# Print the first three friends
print(friendlist[:3])

# Print the last three friends
print(friendlist[-3:])

['Patrick', 'Atlas', 'Temmie']
['Ryan', 'Ben', 'Dax']

In [38]:
# Use range() to create a list with numbers from 1 to 10
numrange = list(range(1, 11))

# Print the list
print(numrange)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
# Use list comprehension to create a list with the squares of numbers from 1 to 5
numsquares = [x**2 for x in range (1, 6)]

# Print the list
print(numsquares)

[1, 4, 9, 16, 25]